#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "tsah"
email = "tsah.weiss@tweezr.io"

[ui]
pager = "delta"
diff-formatter = ":git"
editor = "nvim"

[aliases]
tc = ["util", "exec", "--", "jj-track-current"]
