@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio,
#custom-omarchy,

#custom-update,
#custom-keyboard-layout {
  min-width: 12px;
  margin: 0 7.5px;
}

#network {
  margin: 0 7.5px;
  margin-right: 7.5px;
}

#cpu {
  margin: 0 7.5px;
  margin-left: 7.5px;
  margin-right: 10px;
}

#bluetooth {
  margin: 0 7.5px;
  margin-right: 3px;
}

#custom-headset {
  margin: 0 7.5px;
  margin-left: 3px;
}

#custom-headset.disconnected {
  opacity: 0.3;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}


#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-dropbox {
  margin: 0 7.5px;
}

#custom-dropbox.syncing {
  color: #f9e2af;
}

#custom-dropbox.stopped {
  color: #a55555;
  opacity: 0.5;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
